<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Short compressed Guide / Cookbook for Laravel Framework. Concern is to provide all about Laravel on one page.">
	<meta name="keywords" content="Laravel, Laravel Cookbook, Laravel Cheetsheet, Laravel Documentation">
	<meta name="author" content="Ganesh Bhosale">
	<title> All about Laravel - Compressed Guide / Cheetsheet &middot; Dwij IT Solutions </title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="data:text/css;charset=utf-8," data-href="css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
	<link href="css/docs.min.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="js/ie-emulation-modes-warning.js"></script>
	<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
	<a id=skippy class="sr-only sr-only-focusable" href=#content>
		<div class=container><span class=skiplink-text>Skip to main content</span></div>
	</a>
	<!--<a href="" class="v4-tease">Aww yeah, Bootstrap 4 is coming!</a>-->
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="http://dwij.net/all-about/laravel.html" class="navbar-brand">Laravel</a> </div>
			<nav id="bs-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<!--
					<li> <a href="../getting-started/">Getting started</a> </li>
					<li> <a href="../css/">CSS</a> </li>
					<li> <a href="../components/">Components</a> </li>
					<li class=active> <a href="../javascript/">JavaScript</a> </li>
					<li> <a href="../customize/">Customize</a> </li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://dwijitsolutions.com">Powered by Dwij IT Solutions</a></li>
					<!--
					<li><a href=http://themes.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Themes&quot;)">Themes</a></li>
					<li><a href=http://expo.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Expo&quot;)">Expo</a></li>
					<li><a href=http://blog.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Blog&quot;)">Blog</a></li>
					-->
				</ul>
			</nav>
		</div>
	</header>
	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<h1>Laravel</h1>
			<p>Compressed Guide / Cheetsheet</p>
		</div>
	</div>
	<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9" role="main">
				<div class="bs-docs-section">
					<h1 id="getting-started" class="page-header">Getting Started</h1>
					<h3 id="installation">Installation</h3>
					
					<b class="mb-5">Install Composer:</b>
					<pre><code>sudo apt-get update
curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer</code></pre>
					
					<b class="mb-5">Install Laravel Installer for Composer:</b>
					<pre><code>composer global require "laravel/installer"
export PATH="~/.composer/vendor/bin:$PATH"
# OR for Mac OSX
sudo nano /etc/paths
/Users/me/.composer/vendor/bin</code></pre>
					
					<b class="mb-5">Create a Laravel Project with latest version (dist):</b>
					<pre><code>composer create-project --prefer-dist laravel/laravel website1</code></pre>
					OR<br>
					<b class="mb-5">Create a Laravel Project with latest stable version (Fast Method):</b>
					<pre><code>laravel new website1</code></pre>
					
					<b class="mb-5">Make directories writable:</b>
					<pre><code>cd website1
sudo chmod -R 777 storage/ bootstrap/</code></pre>
					
					<div class="bs-callout bs-callout-danger">
						<h4>Installation of Git Repository</h4>
						<p>Clone the repository</p>
						<pre><code>git clone https://github.com/gdbhosale/lamgmt1.git
composer install
php artisan key:generate</code></pre>
						<p>Use last command if it gives error like: <code>No supported encrypter found. The cipher and / or key length are invalid.</code></p>
					</div>
					
					<b class="mb-5">Other Useful Commands:</b>
					<p>Check Laravel version</p>
					<pre><code>php artisan --version</code></pre>
					<p>Check Laravel Installer version</p>
					<pre><code>laravel --version</code></pre>
					
					<h3 id="artisan-commands">Artisan Commands</h3>
					<p>Artisan is command-line interface included in Laravel from Symfony Console component.</p>
					<b class="mb-5">List of all Artisan commands:</b>
					<pre><code>php artisan list</code></pre>
					<b class="mb-5">List of all Artisan commands under make section:</b>
					<pre><code>php artisan list <span class="s1">make</span></code></pre>
					<b class="mb-5">Help regarding Artisan commands:</b>
					<pre><code>php artisan help <span class="s1">make:auth</span></code></pre>
					<h3>Artisan Make Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>make:auth</code></td>
									<td>Scaffold basic login and registration views and routes</td>
									<td><code>php artisan make:auth</code></td>
								</tr>
								<tr>
									<td><code>make:console</code></td>
									<td>Create a new Artisan command</td>
									<td><code>php artisan make:console SendEmails --command=emails:send</code> <a target="_blank" href="http://devdocs.io/laravel~5.2/docs/5.2/artisan">Help</a></td>
								</tr>
								<tr>
									<td><code>make:controller</code></td>
									<td>Create a new controller class</td>
									<td><code>php artisan make:controller BookController</code></td>
								</tr>
								<tr>
									<td><code>make:event</code></td>
									<td>Create a new event class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:job</code></td>
									<td>Create a new job class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:listener</code></td>
									<td>Create a new event listener class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:middleware</code></td>
									<td>Create a new middleware class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:migration</code></td>
									<td>Create a new migration file</td>
									<td><code>php artisan make:migration create_books_table</code></td>
								</tr>
								<tr>
									<td><code>make:model</code></td>
									<td>Create a new Eloquent model class</td>
									<td><code>php artisan make:model Book</code></td>
								</tr>
								<tr>
									<td><code>make:policy</code></td>
									<td>Create a new policy class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:provider</code></td>
									<td>Create a new service provider class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:request</code></td>
									<td>Create a new form request class</td>
									<td><code>php artisan make:request PublishBookRequest</code></td>
								</tr>
								<tr>
									<td><code>make:seeder</code></td>
									<td>Create a new seeder class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:test</code></td>
									<td>Create a new test class</td>
									<td><pre><code></code></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Artisan Migrate Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>migrate</code></td>
									<td>Run the database migrations</td>
									<td><code>php artisan migrate</code></td>
								</tr>
								<tr>
									<td><code>migrate:install</code></td>
									<td>Create the migration repository</td>
									<td><code>php artisan migrate:install</code></td>
								</tr>
								<tr>
									<td><code>migrate:refresh</code></td>
									<td>Reset and re-run all migrations</td>
									<td><code>php artisan migrate:refresh</code></td>
								</tr>
								<tr>
									<td><code>migrate:reset</code></td>
									<td>Rollback all database migrations</td>
									<td><code>php artisan migrate:reset</code></td>
								</tr>
								<tr>
									<td><code>migrate:rollback</code></td>
									<td>Rollback the last database migration</td>
									<td><code>php artisan migrate:rollback</code></td>
								</tr>
								<tr>
									<td><code>migrate:status</code></td>
									<td>Show the status of each migration</td>
									<td><code>php artisan migrate:status</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Artisan Route Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>route:cache</code></td>
									<td>Create a route cache file for faster route registration</td>
									<td><code>php artisan route:cache</code></td>
								</tr>
								<tr>
									<td><code>route:clear</code></td>
									<td>Remove the route cache file</td>
									<td><code>php artisan route:clear</code></td>
								</tr>
								<tr class="success">
									<td><code>route:list</code></td>
									<td>List all registered routes</td>
									<td><code>php artisan route:list</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>More Artisan Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>view:clear</code></td>
									<td>Clear all compiled view files</td>
									<td><code>php artisan view:clear</code></td>
								</tr>
								<tr>
									<td><code>clear-compiled</code></td>
									<td>Remove the compiled class file</td>
									<td><code>php artisan clear-compiled</code></td>
								</tr>
								<tr>
									<td><code>key:generate</code></td>
									<td>Set the application key</td>
									<td><code>php artisan key:generate</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					#TODO: Add more commands here after testing
					
					<h1 id="blade" class="page-header">Blade Template Engine</h1>
					<h3 id="blade-templating">Templating</h3>
					<b class="mb-5">Why Blade ?</b>
					<ul>
						<li>Template Inheritance</li>
						<li>Sections</li>
						<li>Compiled Layouts for performance</li>
						<li>Reduce code</li>
					</ul>
					<h4>Defining Layout <small>resources/views/layouts/master.blade.php</small></h4>
					
					<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>html</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>head</span><span class="token punctuation">&gt;</span></span></span>
        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>title</span><span class="token punctuation">&gt;</span></span></span>App Name <span class="token operator">-</span> @<span class="token keyword">yield</span><span class="token punctuation">(</span><span class="token string">'title'</span><span class="token punctuation">)</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>title</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>head</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>body</span><span class="token punctuation">&gt;</span></span></span>
        <span class="token blade">@section</span><span class="token punctuation">(</span><span class="token string">'sidebar'</span><span class="token punctuation">)</span>
            This is the master sidebar<span class="token punctuation">.</span>
        <span class="token blade">@show</span>

        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>container<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span></span>
            <span class="token blade">@yield</span><span class="token punctuation">(</span><span class="token string">'content'</span><span class="token punctuation">)</span>
        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>body</span><span class="token punctuation">&gt;</span></span></span>
<span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>html</span><span class="token punctuation">&gt;</span></span></span></code></pre>
					</figure>
					
					<h4>Extending A Layout <small>resources/views/child.blade.php</small></h4>
					<figure class="highlight"><pre><code><span class="token blade">@extends</span><span class="token punctuation">(</span><span class="token string">'layouts.master'</span><span class="token punctuation">)</span>

<span class="token blade">@section</span><span class="token punctuation">(</span><span class="token string">'title'</span><span class="token punctuation">,</span> <span class="token string">'Page Title'</span><span class="token punctuation">)</span>

<span class="token blade">@section</span><span class="token punctuation">(</span><span class="token string">'sidebar'</span><span class="token punctuation">)</span>
    <span class="token blade">@parent</span>

    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span></span>This is appended to the master sidebar<span class="token punctuation">.</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></span>
<span class="token blade">@endsection</span>

<span class="token blade">@section</span><span class="token punctuation">(</span><span class="token string">'content'</span><span class="token punctuation">)</span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span></span>This is my body content<span class="token punctuation">.</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></span>
<span class="token blade">@endsection</span></code></pre>
					</figure>
					
					<h4>Load view using routes</h4>
					<pre><code>Route::get('blade', function () {
    return view('child');
});</code></pre>
					<b class="mb-5">Passing data in view</b>
					<pre><code>return view('child', <span class="s1">['name' => 'Virat']</span>);</code></pre>
					
					
					
					<h3 id="blade-templating-commands">Templating Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>{{ $var }}</code></td>
									<td>Echo content. Also prevents XSS attacks</td>
									<td><pre><code>{{ $user->id }}</code></pre></td>
								</tr>
								<tr>
									<td><code>{{ $var or 'default' }}</code></td>
									<td>Echo content with a default value</td>
									<td><pre><code>{{ $name or 'John Doe' }}</code></pre></td>
								</tr>
								<tr>
									<td><code>@{{ var }}</code></td>
									<td>Echo content. Bypass JavaScript frameworks</td>
									<td><pre><code>@{{ name }}</code></pre></td>
								</tr>
								<tr>
									<td><code>{{{ $var }}}</code></td>
									<td>Echo escaped content</td>
									<td></td>
								</tr>
								<tr>
									<td><code>{{-- Comment --}}</code></td>
									<td>A Blade comment</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@extends('layout')</code></td>
									<td>Extends a template with a layout</td>
									<td><pre><code>@extends('layouts.master')</code></pre></td>
								</tr>
								<tr>
									<td><code>@if(condition)</code></td>
									<td>Starts an if block</td>
									<td rowspan="4"><pre class="mw-250"><code>@if (count($records) === 1)
    I have one record!
@elseif (count($records) > 1)
    I have multiple records!
@else
    I don't have any records!
@endif</code></pre></td>
								</tr>
								<tr>
									<td><code>@else</code></td>
									<td>Starts an else block</td>
								</tr>
								<tr>
									<td><code>@elseif(condition)</code></td>
									<td>Start a elseif block</td>
								</tr>
								<tr>
									<td><code>@endif</code></td>
									<td>Ends a if block</td>
								</tr>
								<tr>
									<td><code>@foreach($list as $key => $val)</code></td>
									<td>Starts a foreach block</td>
									<td rowspan="2"><pre><code>@foreach ($users as $user)
    &lt;p&gt;{{ $user->name }}&lt;/p&gt;
@endforeach</code></pre></td>
								</tr>
								<tr>
									<td><code>@endforeach</code></td>
									<td>Ends a foreach block</td>
								</tr>
								<tr>
									<td><code>@for($i = 0; $i < 10; $i++)</code></td>
									<td>Starts a for block</td>
									<td rowspan="2"><pre><code>@for ($i = 0; $i < 10; $i++)
    i = {{ $i }}
@endfor</code></pre></td>
								</tr>
								<tr>
									<td><code>@endfor</code></td>
									<td>Ends a for block</td>
								</tr>
								<tr>
									<td><code>@while(condition)</code></td>
									<td>Starts a while block</td>
									<td rowspan="2"><pre><code>@while (true)
    &lt;p&gt;looping forever.&lt;/p&gt;
@endwhile</code></pre></td>
								</tr>
								<tr>
									<td><code>@endwhile</code></td>
									<td>Ends a while block</td>
								</tr>
								<tr>
									<td><code>@unless(condition)</code></td>
									<td>Starts an unless block</td>
									<td rowspan="2"><pre><code>@unless (Auth::check())
    You are not signed in.
@endunless</code></pre></td>
								</tr>
								<tr>
									<td><code>@endunless</code></td>
									<td>Ends an unless block</td>
								</tr>
								<tr>
									<td><code>@forelse($list as $key => $val)</code></td>
									<td>Starts an unless block</td>
									<td rowspan="3"><pre><code><span class="s1">@forelse</span> ($users as $user)
    &lt;li&gt;{{ $user->name }}&lt;/li&gt;
<span class="s1">@empty</span>
    &lt;li&gt;No users&lt;/li&gt;
<span class="s1">@endforelse</span></code></pre></td>
								</tr>
								<tr>
									<td><code>@empty</code></td>
									<td>If empty the do this</td>
								</tr>
								<tr>
									<td><code>@endforelse</code></td>
									<td>End the forelse Block</td>
								</tr>
								<tr>
									<td><code>@break</code></td>
									<td>Break out of for loop</td>
									<td rowspan="2"><pre><code>@foreach ($users as $user)
    @continue($user->type == 1)

    &lt;li&gt;{{ $user->name }}&lt;/li&gt;

    @break($user->number == 5)
@endforeach</code></pre></td>
								</tr>
								<tr>
									<td><code>@continue</code></td>
									<td>Continue for loop</td>
								</tr>
								<tr>
									<td><code>@include(file)</code></td>
									<td>Includes another template</td>
									<td><pre><code>@include('shared.errors')</code></pre></td>
								</tr>
								<tr>
									<td><code>@include(file, ['var' => $val,...])</code></td>
									<td>Includes a template, passing new variables.</td>
									<td><pre><code>@include('view.name', <span class="s1">['some' => 'data']</span>)</code></pre></td>
								</tr>
								<tr>
									<td><code>@each('file',$list,'item')</code></td>
									<td>Renders a template on a collection</td>
									<td><pre><code>@each('view.name', $jobs, 'job')</code></pre></td>
								</tr>
								<tr>
									<td><code>@each('file',$list,'item','empty')</code></td>
									<td>Renders a template on a collection or a different template if collection is empty.</td>
									<td><pre><code>@each('view.name', $jobs, 'job', <span class="s1">'view.empty'</span>)</code></pre></td>
								</tr>
								<tr>
									<td><code>@yield('section')</code></td>
									<td>Yields content of a section.</td>
									<td><pre><code>@hasSection('title')
    @yield('title') - App Name
@else
    App Name
@endif</code></pre></td>
								</tr>
								<tr>
									<td><code>@push</code></td>
									<td rowspan="3">Allows you to push to named stacks which can be rendered somewhere else in another view or layout</td>
									<td rowspan="3"><pre><code>@push('scripts')
 &lt;script src="/example.js"&gt;&lt;/script&gt;
@endpush</code></pre>
									<pre><code>&lt;head&gt;
    <span class="token string">&lt;!-- Head Contents --&gt;</span>

    @stack('scripts')
&lt;/head&gt;</code></pre>
									</td>
								</tr>
								<tr>
									<td><code>@endpush</code></td>
								</tr>
								<tr>
									<td><code>@stack</code></td>
								</tr>
								<tr>
									<td><code>@lang('message')</code></td>
									<td>Outputs message from translation table</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@choice('message', $count)</code></td>
									<td>Outputs message with language pluralization</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@section('name')</code></td>
									<td>Starts a section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@stop</code></td>
									<td>Ends section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@show</code></td>
									<td>Ends section and yields its content</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@endsection</code></td>
									<td>Ends section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@append</code></td>
									<td>Ends section and appends it to existing of section of same name</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@overwrite</code></td>
									<td>Ends section, overwriting previous section of same name</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
					<h1 id="crud-basic" class="page-header">Basic CRUD</h1>
					
					<h3 id="crud-database-migration">Database Migration</h3>
					<p>Once we create the basic project in Laravel, We need authetication for CRUD.</p>
					<pre><code>php artisan make:auth</code></pre>
					<p>Now create a database and link it in <code>.env</code></p>
					<pre><code>DB_DATABASE=crud1
DB_USERNAME=root
DB_PASSWORD=root</code></pre>
					<p>After linking databse we will use migrate commands to create tables automatically.</p>
					<pre><code>php artisan migrate</code></pre>
					
					<h3 id="crud-routing-controller">Routing & Controller</h3>
					<b class="mb-5">Create Controller as Resource:</b>
					<p>Let's create the controller for our CRUD: <code>BookController</code>. Which will do Creation, Reading, Updation and Deletion of Books.</p>
					<pre><code>php artisan make:controller BookController --resource</code></pre>
					<b class="mb-5">Create a Route in <code>app/Http/routes.php</code>:</b>
					<p>Now we need to create Routing for the BookController as a resource. Add below line at end of file.</p>
					<pre><code>Route::resource('book', 'BookController');</code></pre>
					<p>To validate that BookController will work correctly, use following command to get all routes of application.</p>
					<pre><code class="long-width">$ <span class="s1">php artisan route:list</span>
+--------+-----------+-------------------------+--------------+-----------------------------------------------------------------+------------+
| Domain | Method    | URI                     | Name         | Action                                                          | Middleware |
+--------+-----------+-------------------------+--------------+-----------------------------------------------------------------+------------+
|        | GET|HEAD  | /                       |              | Closure                                                         | web        |
|        | GET|HEAD  | book                    | book.index   | App\Http\Controllers\BookController@index                       | web        |
|        | POST      | book                    | book.store   | App\Http\Controllers\BookController@store                       | web        |
|        | GET|HEAD  | book/create             | book.create  | App\Http\Controllers\BookController@create                      | web        |
|        | GET|HEAD  | book/{book}             | book.show    | App\Http\Controllers\BookController@show                        | web        |
|        | DELETE    | book/{book}             | book.destroy | App\Http\Controllers\BookController@destroy                     | web        |
|        | PUT|PATCH | book/{book}             | book.update  | App\Http\Controllers\BookController@update                      | web        |
|        | GET|HEAD  | book/{book}/edit        | book.edit    | App\Http\Controllers\BookController@edit                        | web        |
|        | GET|HEAD  | home                    |              | App\Http\Controllers\HomeController@index                       | web,auth   |
|        | GET|HEAD  | login                   |              | App\Http\Controllers\Auth\AuthController@showLoginForm          | web,guest  |
|        | POST      | login                   |              | App\Http\Controllers\Auth\AuthController@login                  | web,guest  |
|        | GET|HEAD  | logout                  |              | App\Http\Controllers\Auth\AuthController@logout                 | web        |
|        | POST      | password/email          |              | App\Http\Controllers\Auth\PasswordController@sendResetLinkEmail | web,guest  |
|        | POST      | password/reset          |              | App\Http\Controllers\Auth\PasswordController@reset              | web,guest  |
|        | GET|HEAD  | password/reset/{token?} |              | App\Http\Controllers\Auth\PasswordController@showResetForm      | web,guest  |
|        | GET|HEAD  | register                |              | App\Http\Controllers\Auth\AuthController@showRegistrationForm   | web,guest  |
|        | POST      | register                |              | App\Http\Controllers\Auth\AuthController@register               | web,guest  |
+--------+-----------+-------------------------+--------------+-----------------------------------------------------------------+------------+</code></pre>
					<p>After getting such output for BookController you might have understood that routes assumes the default CRUD methods.</p>
					<p>Let's edit the <code>app\Http\Controllers\BookController.php</code> and view/edit the respective methods.</p>
					<p>To take this section <code>Book</code> under authentication (Optional), We need to add authentication in constructor like below:</p>
					<pre><code>    public function __construct()
    {
        $this->middleware('auth');
    }</code></pre>
					<p>After doing this you can see change in routes. All Book Methods get <code>auth</code> as Middleware.</p>
					
					<h3 id="crud-models">Creating Models</h3>
					<p>Let's move ahead and create model using following command:</p>
					<pre><code>php artisan make:model -m Book</code></pre>
					<p>Extra argument <code>-m</code> will generate migration <code>database/migrations/2016_05_16_114615_create_books_table.php</code></p>
					<p>To explicitly create migration, You can use: <code>php artisan make:migration create_books_table</code></p>
					
					<br>
					<b class="mb-5">Edit Model:</b>
					<pre><code>class Book extends Model
{
    protected $table = 'books';
    protected $fillable = [
        'title',
        'description',
        'author',
        'price'
    ];
}
</code></pre>
					<p>Edit migration file <code>database/migrations/2016_05_16_114615_create_books_table.php</code> to create fields in table.</p>
					<pre><code>    public function up()
    {
        Schema::create('books', function (Blueprint $table) {
            $table->increments('id');
            $table->string('title');
            $table->text('description');
            $table->string('author');
            $table->integer('price');
            $table->timestamps();
        });
    }</code></pre>
					<p>Now generate the DB tables automatically.</p>
					<pre><code>php artisan migrate</code></pre>
					<br>
					
					<b class="mb-5">Data Validation (Optional):</b>
					<p>Now we need validation rules for data. So we create Request to do so.</p>
					<pre><code>php artisan make:request PublishBookRequest</code></pre>
					<p>This will generate <code>app/Http/Requests/PublishBookRequest.php</code>. Edit it as below:</p>
					<pre><code>    public function authorize()
    {
        return <span class="s1">true;</span>
    }

    public function rules()
    {
        return [
            <span class="s1">'title' => 'required',
            'author' => 'required',
            'price' => 'required'</span>
        ];
    }</code></pre>
					
					<h3 id="crud-methods">CRUD Methods</h3>
					
					
					<h4>1. Record Listing</h4>
					<p>Link <code>Book</code> Model in <code>BookController</code> (Before class defination):</p>
					<pre><code>use App\Book;</code></pre>
					<p>Edit index method in <code>BookController</code> as below:</p>
					<pre><code>    public function index() {
        $allBooks = Book::all(); <span class="token comments">// Selects all Books inside table.</span>
        return View('<span class="s">books.bookList</span>', compact('allBooks'));
    }</code></pre>
					
					<p>Lets create a view file: <code>resources/views/books/bookList.blade.php</code>. Need to create <code>books</code> folder.</p>
					<figure class="highlight"><pre><code class="long-width"><span class="token blade">@extends</span>('layouts.app')
<span class="token blade">@section</span>('content')
&lt;div <span class="na">class=</span><span class="s">"container"</span>&gt;
    &lt;a <span class="na">class=</span><span class="s">"btn btn-primary btn-sm pull-right"</span> <span class="na">href=</span><span class="s">"{{ route('book.create') }}"</span>&gt;Add New Book&lt;/a&gt;&lt;br&gt;&lt;br&gt;
    
    &lt;div <span class="na">class=</span><span class="s">"list-group"</span>&gt;
    <span class="token blade">@foreach</span>( $allBooks as $book )
        &lt;div <span class="na">class=</span><span class="s">"list-group-item"</span>&gt;
            {!! Html::linkRoute('book.show', $book-&gt;title, array($book-&gt;id)) !!} ({{$book-&gt;author }})
            &lt;span <span class="na">class=</span><span class="s">"pull-right"</span>&gt;
                {!! Html::linkRoute('book.edit', 'Edit', array($book-&gt;id), ['class'=&gt;'btn btn-success btn-xs', 'style'=&gt;'display:inline']) !!}
                {!! Form::open(['route' =&gt; ['book.destroy', $book-&gt;id], 'method' =&gt; 'delete', 'style'=&gt;'display:inline']) !!}
                &lt;input <span class="na">class=</span><span class="s">"btn btn-danger btn-xs"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Delete"</span> /&gt;
                {!! Form::close() !!}
            &lt;/span&gt;
        &lt;/div&gt;
    <span class="token blade">@endforeach</span>
    &lt;/div&gt;
&lt;/div&gt;
<span class="token blade">@endsection</span></code></pre></figure>
					
					<p>This will create a view without data. Later on it will look like below: </p>
					<center><img src="images/laravel-crud-methods-listing.jpg" alt="Laravel CRUD - Record Listing" class="small border1"></center>
					<br>
					
					<h4>2. Create Record</h4>
					<p>Add <code>PublishBookRequest</code> in <code>BookController</code>:</p>
					<pre><code>use App\Http\Requests\PublishBookRequest;</code></pre>
					<p>Edit create & store methods in <code>BookController</code> as below:</p>
					<pre><code>
    public function create()
    {
        return view('books.addBook');
    }
	
    public function store(PublishBookRequest $request)
    {
        <span class="token comments">// Insert Query</span>
        $book = new Book;
        $book->title= $request['title'];
        $book->description= $request['description'];
        $book->author= $request['author'];
        $book->price= $request['price'];
        $book->save();

        <span class="token comments">// Send control to index() method where it'll redirect to Book-List</span>
        return redirect()->route('book.index');
    }</code></pre><br>
					
					<b class="mb-5">Form and HTML Libraries:</b>
					<p>Before creating Forms in Add Book, we need to add few Libraries like <code>Form</code> and <code>HTML</code>.<br> It is included in package <code>laravelcollective/html</code>. Use command:</p>
					<pre><code>composer require laravelcollective/html</code></pre>
					
					<p>Now open and edit <code>config/app.php</code> as below.</p>
					<pre><code>'providers' => [
    ...
    Collective\Html\HtmlServiceProvider::class,
],
'aliases' => [
    ...
    'Form' => Collective\Html\FormFacade::class,
    'Html' => Collective\Html\HtmlFacade::class
],</code></pre>
					<b class="mb-5">Create add view file <code>resources/views/books/addBook.blade.php</code>:</b>
					<figure class="highlight"><pre><code class="long-width"><span class="token blade">@extends</span>('layouts.app')
<span class="token blade">@section</span>('content')
&lt;div <span class="na">class=</span><span class="s">"container"</span>&gt;
    &lt;div <span class="na">class=</span><span class="s">"row"</span>&gt;
        &lt;div <span class="na">class=</span><span class="s">"col-md-8 col-md-offset-2"</span>&gt;
            &lt;h1&gt;Add New Book&lt;/h1&gt;
            {!! Form::open(['action' => 'BookController@store']) !!}
				
                &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                    {!! Form::label('title', 'Title :') !!}
                    {!! Form::text('title', null, ['class'=>'form-control', 'placeholder'=>'Enter Title']) !!}
                &lt;/div&gt;

                &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                    {!! Form::label('description', 'Description :') !!}
                    {!! Form::textarea('description', null,  ['class'=>'form-control', 'placeholder'=>'Description']) !!}
                &lt;/div&gt;

                &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                    {!! Form::label('author', 'Author name :') !!}
                    {!! Form::text('author', null,  ['class'=>'form-control', 'placeholder'=>'Author Name']) !!}
                &lt;/div&gt;
				
                &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                    {!! Form::label('price', 'Price :') !!}
                    {!! Form::text('price', null,  ['class'=>'form-control', 'placeholder'=>'Price']) !!}
                &lt;/div&gt;&lt;br&gt;
                
                &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                    {!! Form::submit( 'Submit', ['class'=>'btn btn-success']) !!} &lt;a <span class="na">class=</span><span class="s">"btn btn-default pull-right"</span> <span class="na">href=</span><span class="s">"{{ url('/book') }}"</span>&gt;Back to Home&lt;/a&gt;
                &lt;/div&gt;
            {!! Form::close() !!}
            <span class="token blade">@if</span>($errors->any())
                &lt;ul <span class="na">class=</span><span class="s">"alert alert-danger"</span>&gt;
                    <span class="token blade">@foreach</span>($errors->all() as $error)
                        &lt;li>{{ $error }}&lt;/li&gt;
                    <span class="token blade">@endforeach</span>
                &lt;/ul&gt;
            <span class="token blade">@endif</span>
        &lt;/div&gt;&lt;br&gt;
    &lt;/div&gt;&lt;br&gt;
&lt;/div&gt;&lt;br&gt;
<span class="token blade">@endsection</span></code></pre></figure>
					
					<p class="text-center">This is How form will look.</p>
					<center><img src="images/laravel-crud-methods-create.jpg" alt="Laravel CRUD - Create Add Form" class="small border1"></center>
					
					
					<h4>3. Display Record:</h4>
					<p>Edit show method in <code>BookController</code> as below:</p>
					<pre><code>    public function show($id)
    {
        $book = Book::find($id);
        return view('books.showBook')->with('book',$book);
    }</code></pre>
					<b class="mb-5">Create show view file <code>resources/views/books/showBook.blade.php</code>:</b>
					<pre><code class="long-width"><span class="token blade">@extends</span>('layouts.app')
<span class="token blade">@section</span>('content')
&lt;div <span class="na">class=</span><span class="s">"container"</span>&gt;
    &lt;div <span class="na">class=</span><span class="s">"row"</span>&gt;
        &lt;div <span class="na">class=</span><span class="s">"row col-xs-8 col-xs-offset-2 img-rounded text-center"</span> <span class="na">style=</span><span class="s">"background-color:#eee;"</span>&gt;
            &lt;div&gt;&lt;h2&gt;{{ $book->title }}&lt;/h2&gt;&lt;/div&gt;&lt;br&gt;
            &lt;div&gt;{{ $book->description }}&lt;/div&gt;&lt;br&gt;
            &lt;div <span class="na">class=</span><span class="s">"pull-left"</span>>&lt;b&gt;Cost:&lt;/b&gt; ${{ $book->price }}&lt;/div&gt;
            &lt;div <span class="na">class=</span><span class="s">"blockquote-reverse"</span>>Published by - {{ $book->author }}&lt;/div&gt;
            &lt;br&gt;&lt;a <span class="na">class=</span><span class="s">"btn btn-default"</span> <span class="na">href=</span><span class="s">"{{ url('/book') }}"</span>&gt;Back to Home&lt;/a&gt;&lt;br&gt;&lt;br&gt;
        &lt;/div&gt;&lt;br&gt;
    &lt;/div&gt;&lt;br&gt;
&lt;/div&gt;&lt;br&gt;
<span class="token blade">@endsection</span></code></pre>

					<br><center><img src="images/laravel-crud-methods-show.jpg" alt="Laravel CRUD - Show Record" class="small border1"></center><br>

					<h4>4. Update Record:</h4>
					<p>Edit edit method in <code>BookController</code> as below:</p>
					<pre><code>    public function edit($id)
    {
        $book = Book::find($id);
        return view('books.editBook')->with('book',$book);
    }
	
	public function update(Request $request, $id)
    {
        $book = Book::find($id);

        //Update Query
        $book->title = $request['title'];
        $book->description = $request['description'];
        $book->author = $request['author'];
		$book->price = $request['price'];
        $book->save();

        //Redirecting to index() method of BookController class
        return redirect()->route('book.index');
    }</code></pre>
					<b class="mb-5">Create edit view file <code>resources/views/books/editBook.blade.php</code>:</b>
					<figure class="highlight"><pre><code class="long-width"><span class="token blade">@extends</span>('layouts.app')
<span class="token blade">@section</span>('content')
&lt;div <span class="na">class=</span><span class="s">"container"</span>&gt;
    &lt;div <span class="na">class=</span><span class="s">"row"</span>&gt;
        &lt;div <span class="na">class=</span><span class="s">"col-md-8 col-md-offset-2"</span>&gt;
            &lt;h1&gt;Edit {{ $book->title }}&lt;/h1&gt;
            {!! Form::model($book, ['route' => ['book.update', $book->id ], 'method'=>'PUT']) !!}
            &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                {!! Form::label('title', 'Title :') !!}
                {!! Form::text('title', null, ['class'=>'form-control', 'placeholder'=>'Enter Title']) !!}
            &lt;/div&gt;

            &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                {!! Form::label('description', 'Description :') !!}
                {!! Form::textarea('description', null,  ['class'=>'form-control', 'placeholder'=>'Description']) !!}
            &lt;/div&gt;

            &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                {!! Form::label('author', 'Author name :') !!}
                {!! Form::text('author', null,  ['class'=>'form-control', 'placeholder'=>'Author Name']) !!}
            &lt;/div&gt;

            &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                {!! Form::label('price', 'Price :') !!}
                {!! Form::text('price', null,  ['class'=>'form-control', 'placeholder'=>'Price']) !!}
            &lt;/div&gt;&lt;br&gt;

            &lt;div <span class="na">class=</span><span class="s">"form-group"</span>&gt;
                {!! Form::submit( 'Update', ['class'=>'btn btn-success']) !!} &lt;a <span class="na">class=</span><span class="s">"btn btn-default pull-right"</span> <span class="na">href=</span><span class="s">"{{ url('/book') }}"</span>&gt;Back to Home&lt;/a&gt;

            {!! Form::close() !!}
            @if($errors->any())
                &lt;ul <span class="na">class=</span><span class="s">"alert alert-danger"</span>&gt;
                    <span class="token blade">@foreach</span>($errors->all() as $error)
                        &lt;li>{{ $error }}&lt;/li&gt;
                    <span class="token blade">@endforeach</span>
                &lt;/ul&gt;
            @endif
        &lt;/div&gt;&lt;br&gt;
    &lt;/div&gt;&lt;br&gt;
&lt;/div&gt;&lt;br&gt;
<span class="token blade">@endsection</span></code></pre></figure>

					<br><center><img src="images/laravel-crud-methods-update.jpg" alt="Laravel CRUD - Edit Record" class="small border1"></center><br>
					
					<h4>5. Delete Record:</h4>
					<p>Edit destroy method in <code>BookController</code> as below:</p>
					<pre><code>    public function destroy($id)
    {
        Book::find($id)->delete();

        <span class="token comments">// Redirecting to index() method for Listing</span>
        return redirect()->route('book.index');
    }</code></pre>
					<p>We have already created the destroy form in listing: </p>
					<pre><code class="long-width">{!! Form::open(['route' =&gt; ['book.destroy', $book-&gt;id], 'method' =&gt; 'delete', 'style'=&gt;'display:inline']) !!}
	&lt;input <span class="na">class=</span><span class="s">"btn btn-danger btn-xs"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Delete"</span> /&gt;
{!! Form::close() !!}</code></pre>
					
					<h1 id="mongodb" class="page-header">MongoDB in Laravel</h1>
					<h3 id="mongodb-installation">Installation</h3>
					<b class="mb-5">Install MongoDB on Mac OSX:</b>
					<pre><code>brew update
brew install mongodb
sudo mkdir -p /data/db
sudo chmod -R 777 /data/db/</code></pre>

					<b class="mb-5">Install MongoDB Extension/Drivers for PHP for Mac OSX (<a href="http://php.net/manual/en/mongodb.installation.homebrew.php">Help</a>):</b>
					<pre><code>brew install homebrew/php/php55-mongodb</code></pre>
					<b class="mb-5">Install MongoDB Extension/Drivers for PHP for Ubuntu (<a href="http://php.net/manual/en/mongodb.installation.pecl.php">Help</a>):</b>
					<pre><code>sudo pecl install mongodb</code></pre>

					<b class="mb-5">Add to PATH:</b>
					<pre><code>export PATH=/usr/local/opt/php55-mongodb/:$PATH
cp /usr/local/opt/php55-mongodb/mongodb.so /Applications/MAMP/bin/php/php5.5.14/lib/php/extensions/no-debug-non-zts-20121212</code></pre>

					<b class="mb-5">Add to php.ini:</b>
					<pre><code>sudo nano  /etc/php5/apache2/php.ini

# Add this line in php.ini
extension=mongodb.so</code></pre>
					<p>Test your installation by calling <code>phpinfo();</code>. Make sure <code>mongodb</code> is visible there.</p>
					
					

					<h3 id="mongodb-start">Start MongoDB Server</h3>
					<p>To start mongodb server command is:</p>
					<pre><code>mongod</code></pre>
					<p>This will start MongoDB server.</p>

					<b class="mb-5">MongoDB command-lines; Create root user:</b>
					<p>You can also access MongoDB through command-lines using command <code>mongo</code> as below.</p>

					<pre><code>mongo
use admin
db.createUser({user:"root",pwd:"root",roles:["root"]})</code></pre>

					<h3 id="mongodb-laravel-install">MongoDB integration in Laravel <small>using library: <a target="_blank" href="https://github.com/jenssegers/laravel-mongodb"><code>jenssegers/mongodb</code></a></small></h3>

					<b class="mb-5">Install library using composer:</b>
					<pre><code>composer require jenssegers/mongodb</code></pre>

					<b class="mb-5">edit <code>config/app.php</code>:</b>
					<pre><code>'providers' =>
	Jenssegers\Mongodb\Auth\PasswordResetServiceProvider::class,
'aliases' =>
	'Moloquent' => Jenssegers\Mongodb\Eloquent\Model::class,</code></pre>

					<b class="mb-5">Configure Database in <code>config/database.php</code>. Add new connection:</b>

					<code><pre>    'mongodb' => [
        'driver'   => 'mongodb',
        'host'     => env('DB_HOST', 'localhost'),
        'port'     => "27017",
        'database' => 'admin',
        'username' => 'root',
        'password' => 'root',
        'options' => [
            'database' => 'admin' // sets the authentication database required by mongo 3
        ]
    ],</pre></code>

    				<h3 id="mongodb-models">Using MongoDB</h3>
    				<p>Lets start using MongoDB models <code>Moloquent</code>:</p>
    				<pre><code>php artisan make:model Book</code></pre>

    				<b>Book.php</b>
					<pre><code>namespace App;
use Moloquent;

class Book extends Moloquent {
    protected $collection = 'book_collection';
    protected $connection = 'mongodb';
}</code></pre>

					<b>Access model in <code>HomeController.php</code></b>
					<pre><code>use App\Book;

public function index() {
    
    // $book = new Book;
    // $book->name = 'LOTR';
    // $book->save();
    
    $books = Book::all();
    
    return View('home', compact('books'));
}</code></pre>
					
					
					
					
				</div>
			</div>
			
			
			
			
			<div class="col-md-3" role="complementary">
				<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
					<ul class="nav bs-docs-sidenav">
						<li> <a href="#getting-started">Getting Started</a>
							<ul class="nav">
								<li><a href="#installation">Installation</a></li>
								<li><a href="#artisan-commands">Artisan Commands</a></li>
							</ul>
						</li>
						<li><a href="#blade">Blade Template Engine</a>
							<ul class="nav">
								<li><a href="#blade-templating">Templating</a></li>
								<li><a href="#blade-templating-commands">Templating Commands</a></li>
							</ul>
						</li>
						<li><a href="#crud-basic">Basic CRUD</a>
							<ul class="nav">
								<li><a href="#crud-database-migration">Database Migration</a></li>
								<li><a href="#crud-routing-controller">Routing & Controller</a></li>
								<li><a href="#crud-models">Creating Models</a></li>
								<li><a href="#crud-methods">CRUD Methods</a></li>
							</ul>
						</li>
						<li><a href="#mongodb">MongoDB in Laravel</a>
							<ul class="nav">
								<li><a href="#mongodb-installation">Installation</a></li>
								<li><a href="#mongodb-start">Start MongoDB Server</a></li>
								<li><a href="#mongodb-laravel-install">MongoDB integration in Laravel</a></li>
								<li><a href="#mongodb-models">Using MongoDB</a></li>
							</ul>
						</li>
					</ul> <a class="back-to-top" href="#top"> Back to top </a> <a href="#" class="bs-docs-theme-toggle" role="button"> Preview theme </a> </nav>
			</div>
		</div>
	</div>
	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container">
			<ul class="bs-docs-footer-links">
				<!--<li><a href="http://dwijitsolutions.com">Dwij IT Solutions</a></li>-->
			</ul>
			<p class="pull-right">Powered by <a href="http://dwijitsolutions.com" target="_blank">Dwij IT Solutions</a></p>
		</div>
	</footer>
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js></script>
	<script>
		window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>');
	</script>
	<script src=js/bootstrap.min.js></script>
	<script src=js/docs.min.js></script>
	<script src=js/ie10-viewport-bug-workaround.js></script>
<!--

Gravatar
https://github.com/creativeorange/gravatar

Process SCSS with laravel (https://laravel.com/docs/5.2/elixir) Alt: https://www.dev-metal.com/how-to-use-sass-in-laravel/
# Install Node.js
# For Mac install it from https://nodejs.org/en/download/
# For Ubuntu
sudo apt-get install nodejs
sudo apt-get install npm
sudo ln -s /usr/bin/nodejs /usr/bin/node
node -v
npm -v
sudo npm install --global gulp
npm install

# to run gulp once
gulp

# to run gulp in production mode
gulp --production

# Install Forever
sudo npm install forever -g

To make gulp run in background
forever start node_modules/gulp/bin/gulp.js watch

forever list
forever stopall

====================================================================================

Use gulpfile.js to add less/sass/scss into project.
elixir(function(mix) {
    mix.less('app.less');
    mix.less('admin-lte/AdminLTE.less');
    mix.less('bootstrap/bootstrap.less');
    mix.sass('mystyles.scss');
});

====================================================================================



-->
</body>

</html>