<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Short compressed Guide / Cookbook for Laravel Framework. Concern is to provide all about Laravel on one page.">
	<meta name="keywords" content="Laravel, Laravel Cookbook, Laravel Cheetsheet, Laravel Documentation">
	<meta name="author" content="Ganesh Bhosale">
	<title> All about Laravel - Compressed Guide / Cheetsheet &middot; Dwij IT Solutions </title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="data:text/css;charset=utf-8," data-href="css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
	<link href="css/docs.min.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="js/ie-emulation-modes-warning.js"></script>
	<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
	<a id=skippy class="sr-only sr-only-focusable" href=#content>
		<div class=container><span class=skiplink-text>Skip to main content</span></div>
	</a>
	<!--<a href="" class="v4-tease">Aww yeah, Bootstrap 4 is coming!</a>-->
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="http://dwij.net/all-about/laravel.html" class="navbar-brand">Laravel</a> </div>
			<nav id="bs-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<!--
					<li> <a href="../getting-started/">Getting started</a> </li>
					<li> <a href="../css/">CSS</a> </li>
					<li> <a href="../components/">Components</a> </li>
					<li class=active> <a href="../javascript/">JavaScript</a> </li>
					<li> <a href="../customize/">Customize</a> </li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://dwijitsolutions.com">Powered by Dwij IT Solutions</a></li>
					<!--
					<li><a href=http://themes.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Themes&quot;)">Themes</a></li>
					<li><a href=http://expo.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Expo&quot;)">Expo</a></li>
					<li><a href=http://blog.getbootstrap.com onclick="ga(&quot;send&quot;,&quot;event&quot;,&quot;Navbar&quot;,&quot;Community links&quot;,&quot;Blog&quot;)">Blog</a></li>
					-->
				</ul>
			</nav>
		</div>
	</header>
	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<h1>Laravel</h1>
			<p>Compressed Guide / Cheetsheet</p>
		</div>
	</div>
	<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9" role="main">
				<div class="bs-docs-section">
					<h1 id="getting-started" class="page-header">Getting Started</h1>
					<h2 id="installation">Installation</h2>
					
					<b class="mb-5">Install Composer:</b>
					<pre><code>sudo apt-get update
curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer</code></pre>
					
					<b class="mb-5">Install Laravel Installer for Composer:</b>
					<pre><code>composer global require "laravel/installer"
export PATH="~/.composer/vendor/bin:$PATH"
# OR for Mac OSX
sudo nano /etc/paths
/Users/me/.composer/vendor/bin</code></pre>
					
					<b class="mb-5">Create a Laravel Project with latest version (dist):</b>
					<pre><code>composer create-project --prefer-dist laravel/laravel website1</code></pre>
					OR<br>
					<b class="mb-5">Create a Laravel Project with latest stable version (Fast Method):</b>
					<pre><code>laravel new website1</code></pre>
					
					<b class="mb-5">Make directories writable:</b>
					<pre><code>cd website1
sudo chmod -R 777 storage/</code></pre>
					
					<div class="bs-callout bs-callout-danger">
						<h4>Installation of Git Repository</h4>
						<p>Clone the repository</p>
						<pre><code>git clone https://github.com/gdbhosale/lamgmt1.git
composer install
php artisan key:generate</code></pre>
						<p>Use last command if it gives error like: <code>This gives error: No supported encrypter found. The cipher and / or key length are invalid.</code></p>
					</div>
					
					<b class="mb-5">Other Useful Commands:</b>
					<p>Check Laravel version</p>
					<pre><code>php artisan --version</code></pre>
					<p>Check Laravel Installer version</p>
					<pre><code>laravel --version</code></pre>
					
					<h2 id="artisan-commands">Artisan Commands</h2>
					<p>Artisan is command-line interface included in Laravel from Symfony Console component.</p>
					<b class="mb-5">List of all Artisan commands:</b>
					<pre><code>php artisan list</code></pre>
					<b class="mb-5">List of all Artisan commands under make section:</b>
					<pre><code>php artisan list <span class="s1">make</span></code></pre>
					<b class="mb-5">Help regarding Artisan commands:</b>
					<pre><code>php artisan help <span class="s1">make:auth</span></code></pre>
					<h3>Artisan Make Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>make:auth</code></td>
									<td>Scaffold basic login and registration views and routes</td>
									<td><code>php artisan make:auth</code></td>
								</tr>
								<tr>
									<td><code>make:console</code></td>
									<td>Create a new Artisan command</td>
									<td><code>php artisan make:console SendEmails --command=emails:send</code> <a target="_blank" href="http://devdocs.io/laravel~5.2/docs/5.2/artisan">Help</a></td>
								</tr>
								<tr>
									<td><code>make:controller</code></td>
									<td>Create a new controller class</td>
									<td><code>php artisan make:controller BookController</code></td>
								</tr>
								<tr>
									<td><code>make:event</code></td>
									<td>Create a new event class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:job</code></td>
									<td>Create a new job class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:listener</code></td>
									<td>Create a new event listener class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:middleware</code></td>
									<td>Create a new middleware class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:migration</code></td>
									<td>Create a new migration file</td>
									<td><code>php artisan make:migration create_books_table</code></td>
								</tr>
								<tr>
									<td><code>make:model</code></td>
									<td>Create a new Eloquent model class</td>
									<td><code>php artisan make:model Book</code></td>
								</tr>
								<tr>
									<td><code>make:policy</code></td>
									<td>Create a new policy class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:provider</code></td>
									<td>Create a new service provider class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:request</code></td>
									<td>Create a new form request class</td>
									<td><code>php artisan make:request PublishBookRequest</code></td>
								</tr>
								<tr>
									<td><code>make:seeder</code></td>
									<td>Create a new seeder class</td>
									<td><pre><code></code></pre></td>
								</tr>
								<tr>
									<td><code>make:test</code></td>
									<td>Create a new test class</td>
									<td><pre><code></code></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Artisan Migrate Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>migrate</code></td>
									<td>Run the database migrations</td>
									<td><code>php artisan migrate</code></td>
								</tr>
								<tr>
									<td><code>migrate:install</code></td>
									<td>Create the migration repository</td>
									<td><code>php artisan migrate:install</code></td>
								</tr>
								<tr>
									<td><code>migrate:refresh</code></td>
									<td>Reset and re-run all migrations</td>
									<td><code>php artisan migrate:refresh</code></td>
								</tr>
								<tr>
									<td><code>migrate:reset</code></td>
									<td>Rollback all database migrations</td>
									<td><code>php artisan migrate:reset</code></td>
								</tr>
								<tr>
									<td><code>migrate:rollback</code></td>
									<td>Rollback the last database migration</td>
									<td><code>php artisan migrate:rollback</code></td>
								</tr>
								<tr>
									<td><code>migrate:status</code></td>
									<td>Show the status of each migration</td>
									<td><code>php artisan migrate:status</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>Artisan Route Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>route:cache</code></td>
									<td>Create a route cache file for faster route registration</td>
									<td><code>php artisan route:cache</code></td>
								</tr>
								<tr>
									<td><code>route:clear</code></td>
									<td>Remove the route cache file</td>
									<td><code>php artisan route:clear</code></td>
								</tr>
								<tr class="success">
									<td><code>route:list</code></td>
									<td>List all registered routes</td>
									<td><code>php artisan route:list</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3>More Artisan Commands</h3>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>view:clear</code></td>
									<td>Clear all compiled view files</td>
									<td><code>php artisan view:clear</code></td>
								</tr>
								<tr>
									<td><code>clear-compiled</code></td>
									<td>Remove the compiled class file</td>
									<td><code>php artisan clear-compiled</code></td>
								</tr>
								<tr>
									<td><code>key:generate</code></td>
									<td>Set the application key</td>
									<td><code>php artisan key:generate</code></td>
								</tr>
							</tbody>
						</table>
					</div>
					#TODO: Add more commands here after testing
					
					<h1 id="blade" class="page-header">Blade Template Engine</h1>
					<h2 id="blade-templating">Templating</h2>
					<b class="mb-5">Why Blade ?</b>
					<ul>
						<li>Template Inheritance</li>
						<li>Sections</li>
						<li>Compiled Layouts for performance</li>
						<li>Reduce code</li>
					</ul>
					<h4>Defining Layout <small>resources/views/layouts/master.blade.php</small></h4>
					
					<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>html</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>head</span><span class="token punctuation">&gt;</span></span></span>
        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>title</span><span class="token punctuation">&gt;</span></span></span>App Name <span class="token operator">-</span> @<span class="token keyword">yield</span><span class="token punctuation">(</span><span class="token string">'title'</span><span class="token punctuation">)</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>title</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>head</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>body</span><span class="token punctuation">&gt;</span></span></span>
        @<span class="token function">section</span><span class="token punctuation">(</span><span class="token string">'sidebar'</span><span class="token punctuation">)</span>
            This is the master sidebar<span class="token punctuation">.</span>
        @show

        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>container<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span></span>
            @<span class="token keyword">yield</span><span class="token punctuation">(</span><span class="token string">'content'</span><span class="token punctuation">)</span>
        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>body</span><span class="token punctuation">&gt;</span></span></span>
<span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>html</span><span class="token punctuation">&gt;</span></span></span></code></pre>
					</figure>
					
					<h4>Extending A Layout <small>resources/views/child.blade.php</small></h4>
					<figure class="highlight"><pre><code>@<span class="token keyword">extends</span><span class="token punctuation">(</span><span class="token string">'layouts.master'</span><span class="token punctuation">)</span>

@<span class="token function">section</span><span class="token punctuation">(</span><span class="token string">'title'</span><span class="token punctuation">,</span> <span class="token string">'Page Title'</span><span class="token punctuation">)</span>

@<span class="token function">section</span><span class="token punctuation">(</span><span class="token string">'sidebar'</span><span class="token punctuation">)</span>
    @<span class="token keyword">parent</span>

    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span></span>This is appended to the master sidebar<span class="token punctuation">.</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></span>
@endsection

@<span class="token function">section</span><span class="token punctuation">(</span><span class="token string">'content'</span><span class="token punctuation">)</span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span></span>This is my body content<span class="token punctuation">.</span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></span>
@endsection</code></pre>
					</figure>
					
					<h4>Load view using routes</h4>
					<pre><code>Route::get('blade', function () {
    return view('child');
});</code></pre>
					<b class="mb-5">Passing data in view</b>
					<pre><code>return view('child', <span class="s1">['name' => 'Virat']</span>);</code></pre>
					
					
					
					<h2 id="blade-templating-commands">Templating Commands</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-striped js-options-table">
							<thead>
								<tr>
									<th>Command</th>
									<th>Description</th>
									<th>Usage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><code>{{ $var }}</code></td>
									<td>Echo content. Also prevents XSS attacks</td>
									<td><pre><code>{{ $user->id }}</code></pre></td>
								</tr>
								<tr>
									<td><code>{{ $var or 'default' }}</code></td>
									<td>Echo content with a default value</td>
									<td><pre><code>{{ $name or 'John Doe' }}</code></pre></td>
								</tr>
								<tr>
									<td><code>@{{ var }}</code></td>
									<td>Echo content. Bypass JavaScript frameworks</td>
									<td><pre><code>@{{ name }}</code></pre></td>
								</tr>
								<tr>
									<td><code>{{{ $var }}}</code></td>
									<td>Echo escaped content</td>
									<td></td>
								</tr>
								<tr>
									<td><code>{{-- Comment --}}</code></td>
									<td>A Blade comment</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@extends('layout')</code></td>
									<td>Extends a template with a layout</td>
									<td><pre><code>@extends('layouts.master')</code></pre></td>
								</tr>
								<tr>
									<td><code>@if(condition)</code></td>
									<td>Starts an if block</td>
									<td rowspan="4"><pre class="mw-250"><code>@if (count($records) === 1)
    I have one record!
@elseif (count($records) > 1)
    I have multiple records!
@else
    I don't have any records!
@endif</code></pre></td>
								</tr>
								<tr>
									<td><code>@else</code></td>
									<td>Starts an else block</td>
								</tr>
								<tr>
									<td><code>@elseif(condition)</code></td>
									<td>Start a elseif block</td>
								</tr>
								<tr>
									<td><code>@endif</code></td>
									<td>Ends a if block</td>
								</tr>
								<tr>
									<td><code>@foreach($list as $key => $val)</code></td>
									<td>Starts a foreach block</td>
									<td rowspan="2"><pre><code>@foreach ($users as $user)
    &lt;p&gt;{{ $user->name }}&lt;/p&gt;
@endforeach</code></pre></td>
								</tr>
								<tr>
									<td><code>@endforeach</code></td>
									<td>Ends a foreach block</td>
								</tr>
								<tr>
									<td><code>@for($i = 0; $i < 10; $i++)</code></td>
									<td>Starts a for block</td>
									<td rowspan="2"><pre><code>@for ($i = 0; $i < 10; $i++)
    i = {{ $i }}
@endfor</code></pre></td>
								</tr>
								<tr>
									<td><code>@endfor</code></td>
									<td>Ends a for block</td>
								</tr>
								<tr>
									<td><code>@while(condition)</code></td>
									<td>Starts a while block</td>
									<td rowspan="2"><pre><code>@while (true)
    &lt;p&gt;looping forever.&lt;/p&gt;
@endwhile</code></pre></td>
								</tr>
								<tr>
									<td><code>@endwhile</code></td>
									<td>Ends a while block</td>
								</tr>
								<tr>
									<td><code>@unless(condition)</code></td>
									<td>Starts an unless block</td>
									<td rowspan="2"><pre><code>@unless (Auth::check())
    You are not signed in.
@endunless</code></pre></td>
								</tr>
								<tr>
									<td><code>@endunless</code></td>
									<td>Ends an unless block</td>
								</tr>
								<tr>
									<td><code>@forelse($list as $key => $val)</code></td>
									<td>Starts an unless block</td>
									<td rowspan="3"><pre><code><span class="s1">@forelse</span> ($users as $user)
    &lt;li&gt;{{ $user->name }}&lt;/li&gt;
<span class="s1">@empty</span>
    &lt;li&gt;No users&lt;/li&gt;
<span class="s1">@endforelse</span></code></pre></td>
								</tr>
								<tr>
									<td><code>@empty</code></td>
									<td>If empty the do this</td>
								</tr>
								<tr>
									<td><code>@endforelse</code></td>
									<td>End the forelse Block</td>
								</tr>
								<tr>
									<td><code>@break</code></td>
									<td>Break out of for loop</td>
									<td rowspan="2"><pre><code>@foreach ($users as $user)
    @continue($user->type == 1)

    &lt;li&gt;{{ $user->name }}&lt;/li&gt;

    @break($user->number == 5)
@endforeach</code></pre></td>
								</tr>
								<tr>
									<td><code>@continue</code></td>
									<td>Continue for loop</td>
								</tr>
								<tr>
									<td><code>@include(file)</code></td>
									<td>Includes another template</td>
									<td><pre><code>@include('shared.errors')</code></pre></td>
								</tr>
								<tr>
									<td><code>@include(file, ['var' => $val,...])</code></td>
									<td>Includes a template, passing new variables.</td>
									<td><pre><code>@include('view.name', <span class="s1">['some' => 'data']</span>)</code></pre></td>
								</tr>
								<tr>
									<td><code>@each('file',$list,'item')</code></td>
									<td>Renders a template on a collection</td>
									<td><pre><code>@each('view.name', $jobs, 'job')</code></pre></td>
								</tr>
								<tr>
									<td><code>@each('file',$list,'item','empty')</code></td>
									<td>Renders a template on a collection or a different template if collection is empty.</td>
									<td><pre><code>@each('view.name', $jobs, 'job', <span class="s1">'view.empty'</span>)</code></pre></td>
								</tr>
								<tr>
									<td><code>@yield('section')</code></td>
									<td>Yields content of a section.</td>
									<td><pre><code>@hasSection('title')
    @yield('title') - App Name
@else
    App Name
@endif</code></pre></td>
								</tr>
								<tr>
									<td><code>@push</code></td>
									<td rowspan="3">Allows you to push to named stacks which can be rendered somewhere else in another view or layout</td>
									<td rowspan="3"><pre><code>@push('scripts')
 &lt;script src="/example.js"&gt;&lt;/script&gt;
@endpush</code></pre>
									<pre><code>&lt;head&gt;
    <span class="token string">&lt;!-- Head Contents --&gt;</span>

    @stack('scripts')
&lt;/head&gt;</code></pre>
									</td>
								</tr>
								<tr>
									<td><code>@endpush</code></td>
								</tr>
								<tr>
									<td><code>@stack</code></td>
								</tr>
								<tr>
									<td><code>@lang('message')</code></td>
									<td>Outputs message from translation table</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@choice('message', $count)</code></td>
									<td>Outputs message with language pluralization</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@section('name')</code></td>
									<td>Starts a section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@stop</code></td>
									<td>Ends section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@show</code></td>
									<td>Ends section and yields its content</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@endsection</code></td>
									<td>Ends section</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@append</code></td>
									<td>Ends section and appends it to existing of section of same name</td>
									<td></td>
								</tr>
								<tr>
									<td><code>@overwrite</code></td>
									<td>Ends section, overwriting previous section of same name</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
				</div>
			</div>
			
			
			
			
			<div class="col-md-3" role="complementary">
				<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
					<ul class="nav bs-docs-sidenav">
						<li> <a href="#getting-started">Getting Started</a>
							<ul class="nav">
								<li><a href="#installation">Installation</a></li>
								<li><a href="#artisan-commands">Artisan Commands</a></li>
							</ul>
						</li>
						<li><a href="#blade">Blade Template Engine</a>
							<ul class="nav">
								<li><a href="#blade-templating">Templating</a></li>
								<li><a href="#blade-templating-commands">Templating Commands</a></li>
								
							</ul>
						</li>
					</ul> <a class="back-to-top" href="#top"> Back to top </a> <a href="#" class="bs-docs-theme-toggle" role="button"> Preview theme </a> </nav>
			</div>
		</div>
	</div>
	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container">
			<ul class="bs-docs-footer-links">
				<!--<li><a href="http://dwijitsolutions.com">Dwij IT Solutions</a></li>-->
			</ul>
			<p class="pull-right">Powered by <a href="http://dwijitsolutions.com" target="_blank">Dwij IT Solutions</a></p>
		</div>
	</footer>
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js></script>
	<script>
		window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>');
	</script>
	<script src=js/bootstrap.min.js></script>
	<script src=js/docs.min.js></script>
	<script src=js/ie10-viewport-bug-workaround.js></script>
</body>

</html>